@import "./assets/styles/reset";
@import "./assets/styles/page";
@import "./assets/styles/devices";
@import "./assets/styles/buttons";
@import "./assets/styles/typography";
@import "./assets/styles/inputs";
@import "./assets/styles/textarea";
@import "./assets/styles/links";
@import "./assets/styles/scrollbar";

* {
  box-sizing: border-box;
}

body {
  background-image: url("/assets/img/bg4.jpg");
  background-color: #000;
  color: white;
  line-height: 1.4;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center top;
  background-attachment: fixed;
}
